/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,300;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arima+Madurai:300");
body {
  font-family: sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
img{
  max-width: 100%;
}

nav ul a, nav .brand-logo {
  color: #444;
}
.m-30{
  margin: 30px 0px !important;
}
.link_btn{
  font-size: 16px;
  border: 1px solid orangered;
  padding: 5px 20px;
  margin-top: 8px;
  border-radius: 5px;
  color: orangered;
  display: inline-block;
  transition: .3s;
}
.link_btn:hover{
  background: orangered;
  color: #fff;
  transition: .3s;
}
.ul .li {
  list-style-type: circle;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  padding: 50px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
}

p {
  line-height: 2rem;
}
.bg-grey{
  background: #fbfbfb;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  z-index: 9999

}
header nav{
  background: transparent;
  z-index: 999;
}
.sidenav-trigger {
  color: orange;
}
/* LANDING PAGE */
.container {
  width: 80%;
}
.landing {
  min-height: 50vh;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://images.unsplash.com/photo-1529101091764-c3526daf38fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2382&q=80");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 30px 0px;
}
.container .landing-content {
  padding: 20px 0px;
  font-family: Nunito;
  padding: 30px 0px;
}
.container .landing-content h1 {
  font-size: 120px;
  text-align: left;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  color: #fff;
}
.container .landing-content p {
  font-size: 40px;
  margin: 0px;
  color: orange;
}
.container .landing-content i {
  animation: spin 4s infinite linear;
  font-size: 30px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.parallax-container .section {
  width: 100%;
}
/* ABOUT */
.about {
  margin-top: 50px;
  background: #fbfbfb;
  border-bottom: 1px solid #ddd;
  padding: 30px;
}
.about .container {
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
}
.about .container .bg {
  clip-path: polygon(29% 0, 100% 0, 86% 99%, 0% 100%);
  background: url("../images/Trisha.jpg") no-repeat;
  background-size: cover;
  min-height: 500px;
  width: 100%;
}
.about .container h4 {
  color: rgb(207, 140, 15);
}
/* Section intro */
.intro{
  margin-bottom: 20px;
}
.intro > h2 {
  position: relative;
  padding-bottom: 8px;
}
.intro h2:before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15%;
  background: orangered;
  border-radius: 50px;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}
.intro span {
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

  
/* Work history */
div.timeline__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 30px 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  position: relative;
  margin: 1rem 0 1.5rem 0;
}
.timeline__item .timeline__title {
  padding-bottom: 10px;
}
.timeline__item img {
  max-width: 300px;
}

.timeline__item--year {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: auto;
  text-align: center;
  font-size: 18px;
  color: orangered;
  position: relative;
  padding: 80px 0 0 0;
  margin-top: 30px;
}
.timeline__item--year:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: #ddd;
}
.timeline__item .description {
  color: #555;
  max-width: 800px;
  margin-left: 40px;
  font-family: sans-serif;
}
.timeline__title {
  color: #222;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 2.8em;
}
.timeline__item ul li {
  position: relative;
}
.timeline__item ul li:before {
  content: "";
  height: 5px;
  width: 5px;
  background: #222;
  position: absolute;
  top: 8px;
  left: -15px;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 0.5rem 0 0;
}
.timeline__item .description .full-desc {
  font-size: 1.5rem;
  margin-top: 0px;
  display: none;
}
.timeline__item .description .full-desc.shown {
  display: block !important;
}
.timeline__item .description ul li {
  margin-bottom: 10px;
  font-size: 1.3em;
}
/* AWARDS */
.awards {
  background: rgba(255, 99, 71, 0.8);
  padding: 50px 0;
  text-align: bottom-down;
}

.awards a {
  color: blue;
  font-size: 25px;
  text-decoration: underline;
}
.awards .container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.awards .container .content {
  background: rgb(0, 0, 0, .1); /* fallback color */
  align-self: baseline;
  color: #f1f1f1; /* grey text */
  width: 100%; /* full width */
  padding: 20px; /* some padding */
  border-radius: 5px;;
}
.awards .container .content a{
  color: #fff;
}
/* PUBLIC SPEAKING */
.public-speaking {
  margin: 30px 0px;
}

.public-speaking .container {
  display: flex;
  flex-wrap: wrap;
}

.public-speaking .event {
  padding: 20px;
  margin: 15px;
  flex: 25%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
}

.public-speaking .event h5 {
  letter-spacing: 1.1;
  text-decoration: underline;
  color: #222;
  font-size: 20px;
  line-height: 28px;
}

.public-speaking .event span {
  font-size: 16px;

}
.public-speaking .event small{
  white-space: nowrap;
  font-size: 16px;
  margin-left: 8px;
  font-weight: 600;
}


/* CONTRIBUTIONS */
.contributions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin: 30px 0px;
}

.contributions .m4 {
  margin: 30px 0px !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
}

.contributions .m4 .des {
  padding: 20px;
}

.contributions .m4 p {
  font-size: 18px;
  text-align: center;
  margin: 0px 0px 8px 0px;
}
.contributions .m4 img{
  padding: 0;
}
.contributions .m4 .links{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.contributions .m4 .links > * {
  margin: 8px;
}
/* Tools and other lists */
.container.endline{
  padding: 30px 0px;
}
.container .lists{
  display: flex;
  flex-wrap: wrap;
}
.container .lists.cols{
  display: block;
  columns: 2;
  column-gap: 10px;
} 
.container .lists.cols.more{
  columns: 3;
}
ul.custom li{
  position: relative;
}
ul.custom li:before {
  content: "";
  height: 5px;
  width: 5px;
  background: #222;
  position: absolute;
  top: 20px;
  left: -15px;
}
.container .lists.cols li {
  box-shadow: none;
  text-align: left;
  margin-bottom: 10px;
  background: transparent;
}
.container .lists li {
  padding: 10px 15px;
  margin:  8px ;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
  font-size: 20px;
  border-radius: 3px;
  text-transform: capitalize;
  background: #fff;
}

/* Contact form */

input[type="text"],select,textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #444;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: black;
}

.containerform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.rowform:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
footer {
  padding: 30px 20px;
  background: #222;
  color: white;
  text-align: center;
  font-size: 16px;
}
footer .social a {
  margin: 8px 15px;
  font-size: 16px;
}



/* RESPONSIVENESS */
@media screen and (min-width: 768px){
  header *{
    color:#fff !important;
  }
}
@media screen and (max-width: 1000px) {
  .about .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about .container .bg {
    clip-path: none;
    min-height: 400px;
  }

  div.timeline__item {
    flex-wrap: wrap;
    flex-direction: column;
  }
  div.timeline__item img {
    max-width: 100%;
    margin: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 80%;
  }
  #index-banner .section {
    top: 10%;
  }
  .public-speaking .event{
    flex: 50%
  }
  .container .lists.cols.more{
    columns: 2;
  }
}

@media screen and (max-width: 768px) {
  #logo-container{
    display: none
  }
  .container {
    width: 90%;
  }
  .container .landing-content h1 {
    font-size: 65px;
  }
  .container .landing-content p {
    font-size: 30px;
  }

  .timeline__item {
    flex-direction: column;
  }
  .timeline__item .description {
    margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  .container{
    width: 95%;
    max-width: 98%;
  }
  #index-banner .section {
    top: 0;
  }
  .public-speaking .event{
    flex: 100%
  }
  container .lists.cols{
    columns: 1;
  } 
  .container .lists.cols.more{
    columns: 1;
  }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
}

/* ANIMATION */

.bird {
  background-image: url("https://i.imgur.com/eo10972.png");
  background-size: auto 100%;
  width: 1000px;
  height: 1250px;
  will-change: background-position;
  animation-name: fly-right-one;
  animation-timing-function: steps(9);
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-delay: 1s;
}

@keyframes fly-right-one {
  100% {
    background-position: -900px 0;
  }
}
